@tailwind base;
@tailwind components;
@tailwind utilities;

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .details {
    font-size: 18px;
  }
  
  .details p {
    margin: 10px 0;
  }
  
  .details strong {
    color: #333;
  }

  .invoice-table {
    width: 100%;
  }

  .invoice-table tr {
    /* margin-bottom: 15px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 2px; */
 
  }
  .common-td {
    border: 1px solid #3f3d3d;
    padding: 0.5rem;
  }
  
  .text-box {
    background-color: #f9fafb; /* bg-gray-50 */
    border: 1px solid #d1d5db; /* border-gray-300 */
    color: #111827; /* text-gray-900 */
    font-size: 0.875rem; /* text-sm */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 0.625rem; /* p-2.5 */

    display: block; /* block */
  }
  
  .text-box:focus {
    outline: none;
    border-color: #3b82f6; /* focus:border-blue-500 */
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5); /* focus:ring-blue-500 */
  }
  
  .dark .text-box {
    background-color: #374151; /* dark:bg-gray-700 */
    border-color: #4b5563; /* dark:border-gray-600 */
    color: #d1d5db; /* dark:text-white */

  }
  
  .dark .text-box:focus {
    border-color: #3b82f6; /* dark:focus:border-blue-500 */
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5); /* dark:focus:ring-blue-500 */
  }


  @media (max-width: 768px) {
    .invoice-table thead {
      display: none;
    }
  
    .invoice-table, .invoice-table tbody, .invoice-table tr, .invoice-table td {
      display: block;
      width: 100%;
      text-align: center; /* Center the text */
    }
  
    .invoice-table tr {
      margin-bottom: 15px;
      border: 1px solid #ccc; /* Add border similar to AddressModal */
      border-radius: 8px; /* Add border radius similar to AddressModal */
      padding: 10px; /* Add padding similar to AddressModal */
      background-color: #f9f9f9; /* Add background color similar to AddressModal */
    }
  

    .invoice-table td {
      text-align: center; /* Center the text */
      padding-left: 0; /* Remove padding */
      position: relative;
    }
  
    .invoice-table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 100%;
      padding-left: 0; /* Remove padding */
      font-weight: bold;
      text-align: center; /* Center the text */
    }

    .common-td {
      border: 1px solid #3f3d3d;
      padding: 0.5rem;
    }
    .text-box {
      max-width: 100%; 
    }
    
    .text-box:focus {
      outline: none;
      border-color: #3b82f6; /* focus:border-blue-500 */
      box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5); /* focus:ring-blue-500 */
    }
    
    .dark .text-box {
      background-color: #374151; /* dark:bg-gray-700 */
      border-color: #4b5563; /* dark:border-gray-600 */
      color: #d1d5db; /* dark:text-white */
  
    }
    
    .dark .text-box:focus {
      border-color: #3b82f6; /* dark:focus:border-blue-500 */
      box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5); /* dark:focus:ring-blue-500 */
    }
  }